# Entornos virtuales
venv/
env/

# Archivos específicos de Python
*.pyc
__pycache__/

# Archivos generados automáticamente
DS_Store
../.vscode/      
*.pyc
*.sqlite3

# Archivos de datos sensibles
*.env

# Node.js dependencies
node_modules/

# npm lock file
package-lock.json

# schema
schema.yml

# data
data/

#confing
config/

#docker-compose
docker-compose.yml

#BienesRaices
BienesRaices/