{% load static %} {% comment %} Cargar los archivos estaticos {% endcomment %}

{% include "includes/head.html" %}

<body>
    <header class="header">
        <div class="contenedor contenido-header">
            <div class="barra">
                {% include "includes/barra_movil.html" %}
            </div>
        </div>
    </header>
    <main class="contenedor seccion">
            <h1>Registrar una nuevo Blog</h1>
            <form action='' method='POST' enctype="multipart/form-data">
                {% csrf_token %}
                <div>
                    <label for="title">Título del blog *</label>
                    <input id="title" type="text" name="{{ registrar_blog.title.name }}" maxlength="50" required>
                </div>
                <div>
                    <label for="name">Nombre del titular</label>
                    <input id="name" type="text" name="{{ registrar_blog.nombre_titular.name }}" value="{{ registrar_blog.nombre_titular.value }}" maxlength="50" disabled>
                </div>
                <div>
                    <label for="img_jpg">Imagen JPG *</label>
                    <input id="img_jpg" type="file" name="{{ registrar_blog.img_jpg.name }}" accept=".jpg" required >
                </div>
                <div>
                    <label for="img_webp">Imagen WEBP</label>
                    <input id="img_webp" type="file" name="{{ registrar_blog.img_webp.name }}">
                </div>
                <div>
                    <label for="fecha">Fecha</label>
                    <input id="fecha" type="date" name="{{ registrar_blog.fecha.name }}" value="{{ registrar_blog.fecha.value }}" disabled>
                </div>
                <div>
                    <label for="descripcion">Descripción</label>
                    <input id="descripcion" type="text" name="{{ registrar_blog.descripcion.name }}" maxlength="260" required>
                </div>
                <div>
                    <label for="contenido">Contenido</label>
                    <textarea id="contenido" name="{{ registrar_blog.contenido.name }}" cols="40" rows="10" required></textarea>
                </div>
                <div>
                    <input type="submit" value="Crear Blog">
                </div>
                {% if registrar_blog.errors %}
                    {{registrar_blog.errors}}
                {% endif %}  
            </form>                                        
    </main>

{% include "includes/footer.html" %}

</body>

</html>